<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GTM App</title>
    <!-- Legătura către Manifestul PWA -->
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#007acc">
</head>
<body>
    <h1>Bine ai venit în aplicația GTM!</h1>
    <p> PWA rulat în Go.</p>

    <!-- Scriptul de înregistrare PWA -->
    <script src="/static/js/app.js"></script>
</body>
</html>